{% extends 'base.html' %}

{% block cover_heading %}
Joan Z Wang
{% endblock %}


{% block body_block %}
   I am a student at the University of Chicago Class of 2016
   majoring in Quantum Anthropology.
   </n>
   I hail from the littered shores of New York where the subway's always running and the rats never sleep.


   I am a self-proclaimed person and I love walking, talking, and thinking.
   
   <div></div>

   I am interested in studying butterfly formations and the history of milk curds.
   
   <div></div>
   <div></div>

   In my spare time, I also enjoy doing my laundry and taking romantic walks on the beach.
   I am the world's oyster, churning out pearls.
{% endblock %}